* {
	margin: 0;
  }
  
  body {
	font-family: "Roboto", sans-serif;
  }
  
  .navbar {
	width: 100%;
	height: 50px;
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 10;
  }
  
  .navbar-container {
	display: flex;
	align-items: center;
	padding: 0 50px;
	height: 100%;
	color: white;
	font-family: "Sen", sans-serif;
  }
  .marvel{
    background-color: white;
    color: red;
}


 
  
  .logo-container {
	flex: 1;
  }
  
  .logo {
    font-size: 20px;
    color: WHITE;
	margin-left: 25px;
}
  
  .menu-container {
	flex: 6;
  }
  
  .menu-list {
	display: flex;
	list-style: none;
  }
  
  .menu-list-item {
	margin-right: 30px;
  }
  
  .menu-list-item.active {
	font-weight: bold;
  }
  .profile-container {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }
  
  .profile-text-container {
	margin: 0 20px;
  }
  
  .profile-picture {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
  }
  
  .toggle {
	width: 40px;
	height: 20px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
  }
  
  .toggle-icon {
	color: goldenrod;
  }
  
  .toggle-ball {
	width: 18px;
	height: 18px;
	background-color: black;
	position: absolute;
	right: 1px;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s ease all;
  }
  
  .sidebar {
	width: 50px;
	height: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
  }
  
  .left-menu-icon {
	color: white;
	font-size: 20px;
	margin-bottom: 40px;
  }
  
  .container {
	background-color: #151515;
	min-height: calc(100vh - 50px);
	color: white;
  }
  
  .content-container {
	margin-left: 50px;
  }
  
  .featured-content {
	height: 50vh;
	padding: 50px;
  }
  
  .featured-title {
	width: 200px;
  }
  
  .featured-desc {
	width: 500px;
	color: lightgray;
	margin: 30px 0;
  }
  
  .featured-button {
	background-color: #4dbf00;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: bold;
	margin-top: -25;
  }
  
  .movie-list-container {
	padding: 0 20px;
  }
  
  .movie-list-wrapper {
	position: relative;
	overflow: hidden;
  }
  
  .movie-list {
	display: flex;
	align-items: center;
	height: 300px;
	transform: translateX(0);
	transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
	margin-right: 30px;
	position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
	transform: scale(1.2);
	margin: 0 30px;
	opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
	opacity: 1;
  }
  
  .movie-list-item-img {
	transition: all 1s ease-in-out;
	width: 270px;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
  }
  /* wrap me and center me with flexbox , with flex direction column*/ 
  .movie-list-item-title {
	border-radius: 10px;
	background-color: #333;
	padding: 0 10px;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 10%;
	left: 50px;
	opacity: 0;
	transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
	background-color: #333;
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	position: absolute;
	top: 30%;
	left: 50px;
	width: 230px;
	opacity: 0;
	transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
	padding: 7px 20px 7px 20px; 
	background-color: #4dbf00;
	color: white;
	border-radius: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	position: absolute;
	bottom: 31px;
	left: 50px;
	opacity: 0;
	transition: 1s all ease-in-out;
  }
  
  .arrow {
	font-size: 120px;
	position: absolute;
	top: 90px;
	right: 0;
	color: lightgray;
	opacity: 0.5;
	cursor: pointer;
  }
  a{
	
		text-decoration: none;
		color: white;
	}
  
  
  .container.active {
	background-color: white;
  }
  
  .movie-list-title.active {
	color: black;
  }
  
  .navbar-container.active {
	background-color: white;
  
	color: black;
  }
  
  .sidebar.active{
	  background-color: white;
  }
  
  .left-menu-icon.active{
	  color: black;
  }
  
  .toggle.active{
	  background-color: black;
  }
  
  .toggle-ball.active{
	  background-color: white;
	  transform: translateX(-20px);
  }
  /* Start Footer */
.footer {
	background-color: gray;
	color: white;
	padding: 30px 10px;
	text-align: center;
	font-size: 18px;
  }
  .footer span {
	font-weight: bold;
	color: var(--main-color);
  }
  /* End Footer */
  
  @media only screen and (max-width: 940px){
	  .menu-container{
		  display: none;
	  }
  }
  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 450px;
    padding: 90px;
    margin-left: 50px;
    gap: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .grid-box {
    background-color: hsl(0, 0%, 92%);
    height: auto;
    overflow: hidden;
  }
  .grid-box img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    transition: 0.5s ease all;
    overflow: hidden;
  }
  .grid-box:hover img {
    transform: scale(1.1);
  }
  .text-container {
    padding: 20px 0px 20px 15px;
    line-height: 1.3;
  }
  .text-container p {
    color: #811df3;
    font-weight: bolder;
  }
  .text-container h2 {
    color: black;
  }
  @media screen and (min-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
  @media screen and (min-width: 1457px) {
    .grid-colomn_2 {
      grid-column: 2 / span 2;
    }
    .grid-colomn_6 {
      grid-column: 1 / span 2;
    }
  }
  
  @media screen and (max-width: 999px) {
    .grid-container {
      padding: 40px;
    }
  }
  @media screen and (max-width: 838px) and (min-width: 709px) {
    .grid-colomn_1 {
      grid-column: 1/2 span;
    }
    .grid-colomn_4 {
      grid-column: 1/2 span;
    }
    .grid-colomn_9 {
      grid-column: 1/2 span;
    }
  }
  .main-page_bk-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 35rem;
    position: absolute;
    background: no-repeat top;
    background-image: url("https://cdn2.unrealengine.com/creativemode-headerimage-3602x1188-f49614c153de.png");
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-page_bk-img p {
    font-size: 120px;
    color: white;
    text-shadow: -10px -10px 40px rgb(153, 153, 153);
  }
  @media screen and (max-width: 980px) {
    .main-page_bk-img {
      background-image: url("https://cdn2.unrealengine.com/creativemode-headerimage-m-1024x1536-8ac4fa0737a2-1024x1536-b978787c898c.png");
    }
  }
  @media screen and (max-width: 338px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  @media screen and (max-height: 740px) and (max-width: 900px) {
    .main-page_bk-img {
      height: 32rem;
    }
  }
  @media screen and (max-width: 1214px) {
    .grid-container {
      padding: 70px;
    }
    .main-page_bk-img p {
      font-size: 100px;
    }
  }
  @media screen and (max-width: 823px) {
    .main-page_bk-img p {
      font-size: 90px;
    }
  }
  @media screen and (max-width : 461px) {
    .main-page_bk-img p {
      font-size: 75px;
    }
  }

  .listOfGames li img{
    height: 350px;
    width: 270px;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.listOfGames {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
}
.listOfGamesContainer{
    margin: 10px;
}

.listOfGames li:hover {
    opacity: 0.5;
}